/* Global */
body {
	font-family: Helvetica;
	background-color: lightgray; 
	color: gray; 
}
#title {
    font-family: Helvetica;
	text-align: center;
	font-size: 40px;
	background-color: white; 
	padding: 10px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	color: pink; 
	border: 5px solid  pink;

}
p {
	font-size: 17px;
	font-family: Helvetica;
	padding-left: 15px;
	padding-right: 15px;
	margin:0px;
	margin-top:15px;
}
#footer{
    margin-top:20px;
    font-family: Helvetica;
    text-align:center;
    font-size: 12px;
}
.intro {
	font-size: 200%;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding: 15px;
    margin: 15px;
    background-color: white ; 
    height: 250px;
	text-align: center;
}
.summary {
	font-size: 150%;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding:0px 15px 15px; 
    margin: 15px;
    background-color: white ; 
    height: 100%;
}
.summary2 { /*index page at bottom*/ 
	font-size: 100%;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding: 15px;
    margin: 15px;
    background-color: white; 
    height: 25px;
	text-align: center;
    
}

#indexSummary{ /*index page at bottom*/ 
	font-size: 25;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding: 15px;
    margin: 15px;
    background-color: white; 
    height: 25px;
    
}


#tabs {
	padding: 0px;
	font-family: Helvetica;
	margin-left:10px;
	margin-right:10px;
	
}



/*specific pages*/
.left_div { /*on the vis and about us page*/ 
	width: 45%;
	font-family: Helvetica;
	height: 400px;
	margin: 0px;
	margin-left: 15px;
	margin-bottom:15px;	
	
	border: 5px solid  pink;
    padding: 5px;
	background-color: white ; 
	
	display: flex; /*this is how i centered the button*/
  	justify-content: center; /*this is how i centered the button*/
    
}

.right_div { /*on the about us page*/ 
	width: 45%;
	font-family: Helvetica;
	float: right;
	height: 400px;
	margin: 0px;
	margin-right: 15px;
	margin-bottom:15px;
	
	border: 5px solid  pink;
    padding: 5px;
    background-color: white ; 
 
}

.right_div_vis { /*on the vis */ 
	width: 45%;
	font-family: Helvetica;
	float: right;
	height: 400px;
	margin: 0px;
	margin-right: 15px;
	margin-bottom:15px;
	
	border: 5px solid  pink;
    padding: 5px;
	background-color: white ; 
	
	display: flex; /*this is how i centered the button*/
  	justify-content: center; /*this is how i centered the button*/
 
}

#big_vis { /*for visualization page bottom two summary*/

	width: 94%;
	font-family: Helvetica;
	height: 300px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
	
	border: 5px solid  pink;
    padding: 5px;
    background-color: white ; 
    
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:25px;

}

/*quote generation*/
#quote_top {
	font-size: 25;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding: 15px;
    margin:auto;
    width: 75%;
    background-color: white ; 
	height: 200px;
	display: flex; /*this is how i centered the button*/
  	justify-content: center; /*this is how i centered the button*/
}

#quote_summary {
	font-size: 25;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:25px;
    margin:auto;
    margin-top:25px;
    width: 75%;
    background-color: white ; 
    height: 250px;
}

/*Twitter bot page*/
#twitter_bot {
	font-size: 25;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding: 15px;
	margin:auto;
	margin-top:25px;
    width: 75%;
    background-color: white ; 
    /*height: 500px;*/
}

#twitter_summary {
	font-size: 25;
	font-family: Helvetica;
	border: 5px solid  pink;
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:25px;
    margin:auto;
    margin-top:25px;
    width: 75%;
    background-color: white ; 
    height: 100px;
}



#vis_des { /*for visualization page top summary*/
	width: 94%;
	font-family: Helvetica;
	height: 25px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
	
	border: 5px solid  pink;
    padding: 5px;
    background-color: white ; 
    
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:25px;
}

#vis_summary { /*for visualization page bottom two summary*/

	width: 94%;
	font-family: Helvetica;
	height: 100%;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:15px;
	
	border: 5px solid  pink;
    padding: 5px;
    background-color: white ; 
    
    padding-right:15px;
    padding-left: 15px;
    padding-bottom:25px;

}

/*horixontal line*/
hr {
	margin-top:20px;
	margin-bottom:20px;
}

/*The menu bar*/
ul {
    list-style-type: none;
    font-family: Helvetica;
    margin: 0;
    margin-bottom:15px;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: darkgray;
}

.active {
    background-color: pink;
}



/*For the Button on the quote generation page*/
.button {
	background-color: pink;
	border: 5px solid lightgray;;
	margin: auto;
	color: white;
	padding: 25px 52px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	cursor: pointer;
	display: inline-block;
	
  }
